<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>Highlight Group Demo</title>
  <script src="bower_components/angular/angular.js"></script>
  <script src="src/highlight-group.js"></script>
  <script>
    angular.module('app', ['sbHighlightGroup'])
      .controller('Controller', function ($scope) {
        $scope.enabled = true;
        $scope.showOther = true;
        $scope.choices = ['bread', 'butter', 'both'];
        $scope.onSelect = function (choice) {
          window.alert(choice);
        }
        $scope.otherOption = function () {
          window.alert('other');
        }
      });
  </script>
  <style>
    body, input {
      font-family: Arial, sans-serif;
      font-size: 13px;
    }
    .highlight {
      background-color: red;
      color: white;
    }
    li, span {
      width: 100px;
    }
  </style>

</head>
<body>
  <p>Highlight items by hovering or pressing your up and down keys.</p>
  <p>Trigger a helpful pop by clicking on an item or pressing return.</p>
  <div ng-controller="Controller">
    <div sb-highlight-group sb-disabled="!enabled">
      <ul>
        <li ng-repeat="choice in choices" ng-bind="choice" sb-highlight-index="{{$index}}" sb-highlight-select="onSelect(choice)"></li>
      </ul>
      <span sb-highlight-index="100" sb-highlight-select="otherOption()" ng-show="showOther">other option</span>
    </div>
    <br>
    <label><input type="checkbox" ng-model="enabled"> enabled</label>
    <label><input type="checkbox" ng-model="showOther"> show other</label>
  </div>
</body>
</html>
